body{
    background-color: gray;


}
h1{
color:white;
background-color:black;
text-align: center;
}

.images{
    flex-direction: row;
    flex-wrap:wrap;
    display: flex;
    width: 100vw

}

div{
    background: linear-gradient(gold, white);
    margin: 25px;
    border-color: black;
    border-style:solid;
    width:max-content;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.blur 
{
    filter:blur(5px) ;
}
.brightness{
    filter:brightness(200%) ;
}
.constrast{
    filter:contrast(200%) ;
}
.shadow{
    filter:drop-shadow(20px 20px 5px gray) ;
}
.gray{
    filter:grayscale(100%) ;
}
.hue{
    filter:hue-rotate(180deg) ;
}
.invert{
    filter:invert(100%) ;
}
.opacity{
    filter:opacity(50%) ;
}
.saturate{
    filter:saturate(50%) ;
}
.sepia{
    filter:sepia(100%) ;
}

img:hover{
    filter: none;
}
